<%= render "users/shared/background" %>

<h2 class="unify-title">Unify</h2>
<h2 class="mt-5 mb-3 text-center">Renvoyer l'email de confirmation</h2>

<div class="login-container">
  <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>
    <%= f.full_error :confirmation_token %>

    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
                  input_html: { autocomplete: "email" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Renvoyer l'email de confirmation" %>
    </div>
  <% end %>
</div>

<div class="text-center mt-5">
  <%= render "users/shared/links" %>
</div>

<%= render "users/shared/logos" %>