<div class="container-fluid spacer">

  <div class="row">

    <div class="banner" style="width: 100vw; background-image: url(https://hackernoon.com/hn-images/1*lEyU2zS2TBaOl_fbXqPChA.png); background-attachment: fixed; background-position: center; background-repeat: no-repeat; background-size: cover;"></div>

  </div>
  <div class="row">

    <div class="col-lg-4 col-12">
        <%= image_tag @bde.logo, class:"club-logo club-logo-page" unless @bde.logo.nil? %>
        <h3 class="text-center mb-3 club-name"><%= @bde.name.upcase %></h3>
    </div>
    <div class="col-lg-4 col-6 d-flex flex-row pt-3 order-lg-first">
        <%= link_to club_members_path(@bde) do %>
            <div class="button-effect-3 members">
                <i class="fas fa-users"></i>
            </div>
        <% end %>
        <%= link_to @bde.website_url, target:"_blank" do %>
            <div class="button-effect-3 website">
                <i class="fas fa-link"></i>
            </div>
        <% end %>
        <%= link_to @bde.instagram_url, target:"_blank" do %>
            <div class="button-effect-3 instagram">
                <i class="fab fa-instagram"></i>
            </div>
        <% end %>
        <%= link_to @bde.linkedin_url, target:"_blank" do %>
            <div class="button-effect-3 linkedin">
                <i class="fab fa-linkedin"></i>
            </div>
        <% end %>
    </div>
    <div class="white-wrapper d-flex flex-column align-items-start">
      <%= link_to new_club_event_path(@bde), class:"button-effect-4" do %>
        <span>Ajouter un nouvel événement</span>
        <i class="fas fa-calendar-week"></i>
      <% end %>
      <%= link_to edit_club_path(@bde), class:"button-effect-4" do %>
        <span>Modifier la page de l'association</span>
        <i class="fas fa-edit"></i>
      <% end %>
    </div>
  </div>

  </div>
  <div class="row">

    <div class="col club-feed mt-5 d-flex flex-row justify-content-between">

      <% if @bde.events.nil? || @bde.events == [] %>
        <p>Pas d'événements disponibles.</p>
      <% else %>
        <% @bde.events.each do |event| %>

          <div class="card card-cascade wider mt-4">

            <!-- Card image -->
            <div class="view view-cascade overlay">
              <img src="<%= event.image %>" class="card-img-top" alt="...">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">

              <!-- Title -->
              <h4 class="card-title">
                <strong><%= event.name %></strong>
              </h4>
              <!-- Subtitle -->
              <h5 class="blue-text pb-2">
                <% if event.price.nil? || event.price == 0 %>
                  <strong>Gratuit</strong>
                <% else %>
                  <strong><%= event.price %> €</strong>
                <% end %>
              </h5>
              <!-- Text -->
              <p class="card-text"><%= event.short_description %></p>


            </div>

            <!-- End Events Card -->
          </div>

        <% end %>
      <% end %>

    </div>

  </div>

</div>

<%= javascript_pack_tag 'shared/navbar' %>

