<div class="banner" style="background-image: url(https://res.cloudinary.com/isep/image/upload/v1577142992/unify/image_3_hmuovd.png);">
</div>

<div class="d-flex mt-3">
    <div class="ml-5 pr-5 pl-5">
        <%= image_tag @club.logo, class:"club-logo" %>
        <p class="text-center"><%= @club.name.upcase %></p>
        <ul>
            <li>Evenements</li>
            <li>Membres</li>
            <li>Site web</li>
            <li>Instagram</li>
        </ul>
    </div>
    
    <div class="ml-5 mr-5 text-center pr-5 pl-5">
        <% if @club.events.nil? || @club.events == [] %>
            <p>Pas d'événements disponibles</p>
        <% else %>
            <% @club.events.each do |event| %>
                <div class="row d-flex justify-content-center mb-5">
                    <div class="card mt-4" style="width: 50rem;">
                        <img class ="mt-4 ml-4" src="<%=event.club.logo%>" style="width: 5rem;" alt="...">
                        <div class="card-body">
                            <img src="<%= event.image%>" class="card-img-top" style="width:30%; margin-top: -5rem" alt="...">
                            <h5 class="card-title"><%= event.name %></h5>
                            <h6 class="card-subtitle mb-2 text-muted">Proposé par <%= event.club.name %></h6>
                            <p class="card-text"><%= event.short_description%></p>
                            <a href="#" class="btn btn-primary">S'inscrire</a>
                        </div>
                    </div>        
                </div>
            <% end %>
        <% end %>
    </div>
   
    <div class="d-flex flex-column">
        <button class="btn btn-primary m-3">S'abonner</button>
        <button class="btn btn-primary m-3">Candidater</button>
    </div>
</div>