<div class="container-fluid spacer">
    <div class="row">
      <div class="col-6 m-auto">
        <div class="-form ">
          <div class="mt-3 ">
            <%= simple_form_for(@club) do |f| %>
              <h1>Modification de <%= @club.name %></h1>
              <div class="form-group">
                <%= f.label :name, label: "Nom de l'association:" %>
                <%= f.text_field :name, class: 'form-control' %>
              </div>
             
              <div class="mt-3">
                <%= f.submit class: 'btn btn-secondary' %>
                <%= link_to 'Cancel', root_path(anchor: "recommandations"), class: 'btn btn-dark ml-2' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
</div>