<div class="container-fluid spacer">
    <div class="row">
      <div class="col-6 m-auto">
        <div class="-form ">
          <div class="mt-3 ">
            <%= simple_form_for(@club) do |f| %>
              <h1 class="text-center mt-5">Modification de <%= @club.name %></h1>
              <div class="form-group">
                <%= f.label :name, label: "Nom de l'association" %>
                <%= f.text_field :name, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.input :logo, as: :file, label: "Nouveau logo" %>
              </div>
              <div class="form-group">
                <%= f.input :description, label: "Description" %>
              </div>
              <div class="form-group">
                <%= f.input :website_url, label: "Lien site web" %>
              </div>
              <div class="form-group">
                <%= f.input :instagram_url, label: "Lien instagram" %>
              </div>
              <div class="form-group">
                <%= f.input :linkedin_url, label: "Lien linkedin" %>
              </div>
              <div class="mt-3">
                <%= f.submit "Modifier",class: 'btn btn-primary' %>
                <%= link_to 'Annuler', root_path(anchor: "recommandations"), class: 'btn btn-dark ml-2' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
</div>
