<%- title "Associations" %>

<div class="container-fluid spacer">
  <div class="row text-center p-3 mb-3">
    <div class="col">
      <h1 class="text-center mt-3">Associations</h1>
    </div>
  </div>
  <div class="row ">
    <div class="col list-group flex-row flex-wrap justify-content-center">
      <% @clubs.each do |club| %>
        <div class="club-container d-flex flex-row justify-content-start align-items-center mb-4 px-3 px-lg-4">
          <div class="club-left pr-2">
            <% if club.logo.nil? || club.logo == "" %>
              <img src="https://www.logolynx.com/images/logolynx/cb/cb293ba8b9c20c84b4f279f6a3a76464.png" class="club-logo big" >
            <% else %>
              <img src=<%= club.logo %> class="club-logo big" >
            <% end %>
          </div>
          <div class="club-right d-flex flex-row justify-content-between align-items-center">
            <div class="club-desc">
              <h4><%= club.name.titleize %></h4>
              <span><%= club.short_description %></span>
            </div>
            <% if club.name == "EXODUS BDE" %>
              <%= link_to bde_path(@bde), class:"button-effect-2" do %>
                <button>Voir</button>
              <% end %>
            <% else %>
              <%= link_to club_path(club), class:"button-effect-2" do %>
                <button>Voir</button>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'shared/navbar' %>

