<h1 class="text-center mt-3">Associations</h1>
<div class="container text-center d-flex flex-wrap justify-content-center">
    <% @clubs.each do |club| %>
        <div>
            <% if club.logo.nil? || club.logo == "" %>
                <%= link_to "#" do %>
                    <%= image_tag "https://www.logolynx.com/images/logolynx/cb/cb293ba8b9c20c84b4f279f6a3a76464.png", class:"club-logo" %>
                <% end %>
            <% else %>  
                <%= link_to "#" do %>
                    <%= image_tag club.logo, class:"club-logo" %>
                <% end %>
            <% end %>
            <p class="text-center"><%= club.name %></p>
        </div>
    <% end %>
</div>
