<div class="container-fluid spacer">

  <div class="row club-content">
    <div class="col-lg-3 col-12 pt-3">
      <div id="club-header">
        <div class="d-flex flex-column align-items-center club-logo-wrapper">
          <%= render "clubs/shared/logo" %>
        </div>
        <p class="club-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean placerat sapien eu justo elementum, sed rhoncus arcu dictum. Nullam egestas est sem, id semper dolor blandit ac. Proin leo purus, accumsan quis condimentum condimentum, tristique eu velit. Suspendisse dapibus eros a elit dictum lobortis.</p>
        <div class="d-flex flex-row align-items-center justify-content-around mt-3">
          <%= render "clubs/shared/links" %>
        </div>
      </div>
    </div>

    <div class="col-lg-9 pt-3">
      <div class="row">
        <div class="col-12 pt-3 d-flex align-items-center justify-content-center">
          <div class="pill-tabs">
              <%= link_to club_path(@club), class:"tab" do %>
                  <span>Événements</span>
              <% end %>
              <%= link_to club_members_path(@club), class:"tab active" do %>
                  <span>Membres</span>
              <% end %>
          </div>
        </div>
      </div>

      <div class="row" id="trigger">
        <div class="col members-feed">
          <% @club.users.each do |user| %>
            <%= link_to user do %>
              <div class="member-wrapper mb-3 mx-auto">
                <img class="avatar" src=<%= user.profile_picture %> />
                <p><%= user.first_name %> <%= user.last_name %></p>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

  </div>


</div>

<%= javascript_pack_tag 'shared/navbar' %>
<%= javascript_pack_tag 'clubs/header' %>
