<%- title "Membres #{@club.name}" %>

<div class="container-fluid spacer">
  <div class="row club-content">
    <%= render "clubs/shared/club_identity" %>
    <div class="col-12 col-lg-9 pt-3">
      <%= render "clubs/shared/club_show_tabs" %>
      <div class="row mt-3">
        <div class="col members-feed">
          <% @club.users.each do |user| %>
            <%= link_to user_path(user) do %>
              <div class="member-wrapper mb-3 mx-auto">
                <img class="avatar" src=<%= user.profile_picture %> >
                <div class="d-flex flex-column">
                  <p><strong><%= user.first_name %> <%= user.last_name %></strong></p>
                  <% user.user_clubs.includes([:club]).each do |user_club| %>
                    <% if user_club.club == @club %>
                      <p class="role"><%= user_club.role %></p>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'shared/navbar' %>
<%= javascript_pack_tag 'clubs/header' %>
