<%- title "Membres #{@club.name}" %>

<div class="container-fluid spacer">
  <div class="row club-content">
    <%= render "clubs/shared/club_identity" %>
    <div class="col-12 col-lg-9 pt-3">
      <%= render "clubs/shared/club_show_tabs" %>
      <div class="row mt-3">
        <div class="col members-feed">
          <% @club.users.each do |user| %>
            <%= link_to user_path(user) do %>
              <% if user.profile_picture.nil? || user.profile_picture == "" %>
                <div class="member-wrapper mb-3 mx-auto">
                   <img class="avatar" src="https://res.cloudinary.com/isep/image/upload/v1577132733/unify/download_wqralk.png" class="user-logo" >
                  <p><%= user.first_name %> <%= user.last_name %></p>
                </div>
              <% else %>
                <div class="member-wrapper mb-3 mx-auto">
                  <img class="avatar" src=<%= user.profile_picture %> >
                  <p><%= user.first_name %> <%= user.last_name %></p>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'shared/navbar' %>
<%= javascript_pack_tag 'clubs/header' %>
