<%= render "clubs/shared/banner" %>

<div class="club-content">

    <%= render "clubs/shared/links" %>

    <div>
        <h1 class="text-center">Membres</h1>
        <div class="container text-center justify-content-center d-flex flex-wrap">
            <% @club.users.each do |user| %>
                <div  class="d-block">
                    <%= image_tag user.profile_picture, class:"avatar-member mb-4"%>
                    <p><%= user.first_name %> <%= user.last_name %></p>  
                </div>
            <% end %>
        </div>
    </div>

    <%= render "clubs/shared/buttons" %>

</div>



