<div class="container-fluid spacer">

  <div class="row club-content">

    <%= render "clubs/shared/banner" %>

    <div class="col-3 club-identity d-flex flex-column align-items-center">

      <%= render "clubs/shared/links" %>

    </div>
    <div class="col-6 club-feed">

      <% if @club.events.nil? || @club.events == [] %>
        <p>Pas d'événements disponibles.</p>
      <% else %>
        <% @club.events.each do |event| %>

          <div class="card card-cascade wider mt-4">

            <!-- Card image -->
            <div class="view view-cascade overlay">
              <img src="<%= event.image%>" class="card-img-top" alt="...">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">

              <!-- Title -->
              <h4 class="card-title">
                <strong><%= event.name %></strong>
              </h4>
              <!-- Subtitle -->
              <h5 class="blue-text pb-2">
                <% if event.price.nil? || event.price == 0 %>
                  <strong>Gratuit</strong>
                <% else %>
                  <strong><%= event.price %> €</strong>
                <% end %>
              </h5>
              <!-- Text -->
              <p class="card-text"><%= event.short_description%></p>


            </div>

            <!-- End Events Card -->
          </div>

        <% end %>
      <% end %>

    </div>
    <div class="col-3">

      <%= render "clubs/shared/buttons" %>

    </div>

  </div>

</div>
