<div class="sticky-left-group">
  <div class="profile-picture d-flex justify-content-center mb-4">
    <% if @contest.club.logo.nil? || @contest.club.logo == "" %>
      <img src="https://res.cloudinary.com/isep/image/upload/v1577132733/unify/download_wqralk.png" class="club-logo big" >
    <% else %>
        <img class="club-logo big" src=<%= @contest.club.logo %> >
    <% end %>
  </div>
  <div class="text-center pb-3">
    <p>Concours proposé par</p>
    <%= link_to club_path(@contest.club.id) do %>
        <h4><%= @contest.club.name %></h4>
    <% end %>
    <ul class="table-style mt-3">
      <li><span>Nombres de lots : </span><%= @contest.rewards.size %></li>
      <li><span>Date limite : </span><%= @contest.deadline %></li>
      <li><span>Participants : </span><%= @contest.users.size %></li>
    </ul>
  </div>
  
  <% if @is_done %>
    <h6 class="text-center">Concours terminé</h6>
  <% else %>
    <div class="contest-show countdown-container" data-date="<%= @contest.deadline.to_formatted_s(:rfc822) %>">
      <h6>Temps restant pour participer :</h6>
      <div>
        <span class="countdown"></span>
      </div>
    </div>
  <% end %>
  
  <div class="d-flex flex-wrap align-items-start justify-content-between justify-content-md-start">
        <% if !@contest.instagram_post_url.nil? and @contest.instagram_post_url != "" %>
          <%= link_to @contest.instagram_post_url, target:"_blank", class:"button-effect-3 mb-4" do %>
              <div class="instagram"><i class="fab fa-instagram"></i></div>
          <% end %>
        <% end %>
  </div>
</div> 