<h2 class="unify-title">Unify</h2>
<h2 class="mt-5 mb-3 text-center">Se connecter</h2>

<div class="login-container">
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email" },
                  placeholder: "prenom.nom@isep.fr" %>
      <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "current-password" } %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Se connecter" %>
    </div>
  <% end %>

  <div class="text-center">
    <%= render "users/shared/links" %>
  </div>
</div>

<div class="logo-container">
  <%= image_tag "https://is1-ssl.mzstatic.com/image/thumb/Purple113/v4/de/ec/a9/deeca9b9-37c4-7bda-dd22-76b8906089ce/source/512x512bb.jpg", class:"logo-genesis" %>
  <%= image_tag "https://isepalumni.fr/wp-content/uploads/2016/12/logoISEP.png", class:"logo-isep" %>
</div>

