<div class="container spacer fluid">
  <h1>Jeu concours : <%= @contest.title %></h1>
  <p>Réponds à ces <%= @contest.questions.size %> questions en choisissant une proposition pour chacune des questions</p>

  <%= simple_form_for @contest, url: contest_send_quizz_path(@contest), method: :post do |f| %>
    <%= f.fields_for :questions do |q| %>
      <% @questions.each do |question| %>
        <li><%= question.title %></li>
        <% question.answer_options.each do |answer_option| %>
          <%= q.check_box :answer_option  %>
          <%= q.label :answer_option, answer_option.answer %>
        <% end %>
      <% end %>
    <% end %>
    <div class="mt-3">
      <%= f.submit "Envoyer", class:"btn btn-success" %>
      <%= link_to 'Annuler', contests_path, class: 'btn btn-dark ml-2' %>
    </div>
  <% end %>
</div>

<%= javascript_pack_tag 'shared/navbar' %>

 