<%- title "Concours" %>

<div class="container-fluid spacer">
  <div class="row text-center p-3 mb-3">
    <div class="col">
      <h1 class="text-center mt-3">Concours</h1>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex flex-row justify-content-center justify-content-lg-start">
      <% if @contests == [] %>
        <div class="white-wrapper w-100 mt-5 active mr-5 ml-5">
          <h3 class="text-center">Aucun concours disponible pour l'instant</h3>
        </div>
      <% else %>
        <% @contests.each do |contest| %>
          <% @is_done = contest.deadline < Time.now %>
            <div class="contest-container">
                <div class="contest-header">
                  <h5><%= contest.title %></h5>
                </div>
                <div class="contest-body">
                  <div class="banner">
                    <img src="<%= contest.miniature %>" alt="Concours <%= contest.title %>"/>
                  </div>
                  <% if @is_done %>
                    <h6 class="p-2">Concours<br/>terminé</h6>
                  <% else %>
                    <div class="countdown-container" data-date="<%= contest.deadline.to_formatted_s(:long) %>">
                      <span>Temps restant</span>
                      <table>
                        <tr class="countdown">
                          <th>00</th>
                          <th>00</th>
                          <th>00</th>
                        </tr>
                        <tr>
                            <td>jours</td>
                            <td>heures</td>
                            <td>min.</td>
                        </tr>
                      </table>
                    </div>
                  <% end %>
                </div>
                <div class="contest-footer">
                  <% if !contest.users.nil? || contest.users != [] %>
                    <p>
                      <% contest.users.take(5).each do |user| %>
                        <img src="<%= user.profile_picture %>" alt="<%= user.first_name %>" title="<%= user.first_name %>" />
                      <% end %>
                    </p>
                  <% end %>
                  <% if @is_done %>
                    <%= link_to contest_path(contest.id), class:"button-effect-2" do %>
                      <button>Résultats</button>
                    <% end %>
                  <% else %>
                    <%= link_to contest_path(contest.id), class:"button-effect-2" do %>
                      <button>Détails</button>
                    <% end %>
                  <% end %>
                </div>
            </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'shared/navbar' %>
<%= javascript_pack_tag 'contests/countdown' %>