<%- title "Concours #{@contest.title}" %>

<div class="container-fluid spacer">
  <div class="row user-row">
    <div class="col-12 col-lg-3">
      <%= render "contests/shared/contest_left" %>
    </div>
    <div class="col-12 col-lg-9">
      <div class="row justify-content-center p-2">
        <div class="col"><div class="banner"><img src=<%= @contest.image %> /></div></div>
      </div>
      <div class="row p-2">
            <div class="col-12 col-md-9 col-lg-10">
                <h1><%= @contest.title %></h1>
            </div>
            <div class="col-12 col-md-3 col-lg-2 text-md-right">
                <% if policy(@contest).quizz? %>
                  <%= link_to contest_quizz_path(@contest), class:"button-effect-2" do %>
                    <button class="big">Participer</button>
                  <% end %>
                <% else %>
                  <p>Vous avez déjà répondu à ce quizz</p>
                <% end %>
            </div>
        </div>
        <div class="row p-2">
            <div class="col-12">
              <% if @is_done %>
                <p>Concours terminé</p>
                <p>Le gagnant est : <%= @contest.winner_name %></p>
              <% else %>
                <p>Temps restant pour participer: <%= @time_left %></p>
              <% end %>
            </div>
        </div>
        <div class="row p-2">
            <div class="col-12">
                <%= @contest.description %>
            </div>
        </div>
        <div class="row p-2">
          <div class="col">
            <div class="contest-show countdown-container" data-date=<%= @contest.deadline.to_formatted_s(:iso8601) %>>
              <table>
                <tr class="countdown">
                </tr>
                <tr>
                    <td>jours</td>
                    <td>heures</td>
                    <td>min.</td>
                    <td>sec.</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'shared/navbar' %>
<%= javascript_pack_tag 'contests/countdown' %>