<%- title "Concours #{@contest.title}" %>

<div class="container-fluid spacer">
  <div class="row contest-row">
    <div class="col-12 col-lg-3">
      <%= render "contests/components/contest_left" %>
    </div>
    <div class="col-12 col-lg-9">
      <div class="row justify-content-center p-2">
        <div class="col"><div class="banner"><img src="<%= @contest.image %>" /></div></div>
      </div>
      <div class="row p-2">
            <div class="col-12 col-md-9 col-lg-10">
                <h1>Concours <%= @contest.title %></h1>
            </div>
        </div>
        <div class="row p-2">
            <div class="col-12">
                <%= @contest.description %>
                <div class="mt-3">
                  <% @contest.rewards.each do |reward| %>
                    <% if @contest.rewards.size == 1 %>
                      <p>Lot  : <%= reward.name %></p>
                    <% else %>
                      <ul>
                        <li><p>Lot <%= @contest.rewards.find_index(reward) + 1 %> : <%= reward.name %></p></li>
                      </ul>
                    <% end %>
                  <% end %>
                </div>
            </div>
        </div>
        <% if !@contest.users.nil? and @contest.users != [] %>
          <div class="row p-2">
              <div class="col-12">
                  <h4>Participants</h4>
                  <div class="list-of-users">
                    <% @contest.users.each do |user| %>
                      <%= link_to user_path(user) do %>
                        <div class="white-wrapper">
                          <img src="<%= user.profile_picture %>" />
                          <p><%= user.first_name %><br/><%= user.last_name %></p>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
              </div>
          </div>
        <% end %>

        
        <% if @is_done %>
          <div class="mt-5">
            <% $WINNERS.each do |winner| %>
              <div class="member-wrapper mb-3 mx-auto d-flex align-items-center">
                <% if @contest.rewards.size == 1 %>
                  <%= link_to user_path(winner) do %>
                    <div class="member-wrapper mb-3 mx-auto">
                      <img class="avatar" src=<%= winner.profile_picture %> >
                      <div class="d-flex flex-column">
                        <p><strong><%= winner.first_name %> <%= winner.last_name %></strong></p>
                      </div>
                    </div>
                  <% end %>
                <% else %>
                  <%= link_to user_path(winner) do %>
                    <div class="member-wrapper mb-3 mx-auto">
                      <img class="avatar" src=<%= winner.profile_picture %> >
                      <div class="d-flex flex-column">
                        <p><strong><%= winner.first_name %> <%= winner.last_name %></strong></p>
                        <p class="role">Gagnant du lot <%= $WINNERS.find_index(winner) + 1 %></p>
                      </div>
                    </div>
                  <% end %>
                  <ul>
                    <li>Gagnant du lot <%= $WINNERS.find_index(winner) + 1 %> : <%= winner.first_name  %> <%= winner.last_name %></li>
                  </ul>
                <% end %>
              </div>
            <% end %>
          </div>
        <% else %>
          <div class="row px-2 py-3">
            <div class="col-12">
              <hr/>
              
              <% if @contest.questions == [] %>
                <h4>Participer</h4>
              <% else %>
                <h4>Répondre au quiz</h4>
              <% end %>
              <% if policy(@contest).quizz? %>
                <%= render "contests/components/quizz" %>
              <% else %>
                <p>Tu as déjà participé. Les gagnants seront affichés bientôt.</p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'shared/navbar' %>
<%= javascript_pack_tag 'contests/countdown' %>