<% if @club.name == "EXODUS BDE" %>

  <div class="pill-tabs club-show-tab">
    <%= link_to club_bde_path(@club), class:"tab #{'active' if current_page?(club_bde_path(@club))}" do %>
      <span>Événements</span>
    <% end %>
    <%= link_to club_members_path(@club), class:"tab #{'active' if current_page?(club_members_path(@club))}" do %>
      <span>Membres</span>
    <% end %>
    <%= link_to club_project_path(@club), class:"tab #{'active' if current_page?(club_project_path(@club))}" do %>
      <span>Projet</span>
    <% end %>
    <%= link_to club_partners_path(@club), class:"tab #{'active' if current_page?(club_partners_path(@club))}" do %>
      <span>Partenaires</span>
    <% end %>
  </div>

<% else %>

  <div class="pill-tabs club-show-tab">
    <%= link_to club_path(@club), class:"tab #{'active' if current_page?(club_path(@club))}" do %>
      <span>Événements</span>
    <% end %>
    <%= link_to club_members_path(@club), class:"tab #{'active' if current_page?(club_members_path(@club))}" do %>
      <span>Membres</span>
    <% end %>
  </div>

<% end %>