<%= image_tag @club.logo, class:"club-logo" %>
<h3 class="text-center mb-3"><%= @club.name.upcase %></h3>
<%= link_to "Evénements", club_path(@club) %>
<%= link_to "Membres", club_members_path(@club) %>
<%= link_to "Site web", @club.website_url, target:"_blank" unless @club.website_url.nil? %>
<%= link_to "Instagram", @club.instagram_url, target:"_blank" unless @club.instagram_url.nil? %>
<%= link_to "Linkedin", @club.linkedin_url, target:"_blank" unless @club.linkedin_url.nil? %>
