<% if !@club.website_url.nil? and @club.website_url != "" %>
    <%= link_to @club.website_url, target:"_blank", class:"button-effect-3 mb-4" do %>
        <div class="website">
            <i class="fas fa-link"></i>
        </div>
    <% end %>
<% end %>
<% if !@club.instagram_url.nil? and @club.instagram_url != "" %>
    <%= link_to @club.instagram_url, target:"_blank", class:"button-effect-3 mb-4" do %>
        <div class="instagram">
            <i class="fab fa-instagram"></i>
        </div>
    <% end %>
<% end %>
<% if !@club.facebook_url.nil? and @club.facebook_url != "" %>
    <%= link_to @club.facebook_url, target:"_blank", class:"button-effect-3 mb-4" do %>
        <div class="facebook">
            <i class="fab fa-facebook-f"></i>
        </div>
    <% end %>
<% end %>
<% if !@club.linkedin_url.nil? and @club.linkedin_url != "" %>
    <%= link_to @club.linkedin_url, target:"_blank", class:"button-effect-3 mb-4" do %>
        <div class="linkedin">
            <i class="fab fa-linkedin"></i>
        </div>
    <% end %>
<% end %>
<% if !@club.discord_url.nil? and @club.discord_url != "" %>
    <%= link_to @club.discord_url, target:"_blank", class:"button-effect-3 mb-4" do %>
        <div class="discord">
            <i class="fab fa-discord"></i>
        </div>
    <% end %>
<% end %>


