<div class="container-fluid spacer">
  <div class="row user-row">
    <%= render "users/shared/user_profile_left" %>
    <div class="col col-lg-9 right-group">
      <div class="row justify-content-center p-2">
        <div class="col"><div class="banner"><img src=<%= @user.family.banner %> /></div></div>
      </div>
      <div class="m-3"><%= render "users/shared/user_show_tabs" %></div>
      <%= render "users/shared/user_clubs" %>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'shared/navbar' %>
