<div class="container center info-group mt-5 mb-5">
  <div class="row align-items-center pt-5">
    <div class="col-xl avatar-group">
      <%= image_tag current_user.profile_picture, class: "avatar"%>
    </div>
    <div class="col-xl">
      <h1><%= @user.first_name %> <%= @user.last_name %> </h1>
      <p><%= @user.email %></p>
      <p><%= @user.promotion %></p>
      <p><%= @user.section %></p>
    </div>
  </div>
  <div class="row justify-content-center">
    <button type="button" class="btn btn-primary profile-btn" data-toggle="modal" data-target="#editProfile">Modifier mon profil</button>
  </div>
</div>

<div class="modal fade" id="editProfile" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modification du profil</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container center">
          <div class="row">
            <h3>Modifier ma photo de profil<h3>
          </div>
          <div class="row justify-content-center">
            <%= image_tag current_user.profile_picture, class: "avatar"%>
            <button type="button" class="btn modal-btn col-xl-6 offset-xl-2 download-picture">Télécharger une photo</button>
          </div>
          <div class="row mt-5 justify-content-center">
            <button type="button" class="btn modal-btn"><%= link_to "Modifier mon mot de passe", "#" %></button>
          </div>
          <div class="row mt-5 justify-content-center">
            <button type="button" class="btn profile-btn"><%= link_to "Enregistrer", "#" %></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
