<%- title "Profil de #{@user.first_name}" %>

<div class="container-fluid spacer">
  <div class="row user-row">
    <div class="col-12 col-lg-3 left-group">
      <%= render "users/shared/user_profile_left" %>
    </div>
    <div class="col-12 col-lg-9 right-group">
      <div class="row justify-content-center p-2">
        <div class="col"><div class="banner"><img src=<%= @user.family.banner %> /></div></div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-10 pt-3">
          <%= render "users/shared/user_show_tabs" %>
          <div class="tabs-container">
            <%= render "users/shared/user_clubs" %>
            <%= render "users/shared/user_events" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'shared/navbar' %>
<%= javascript_pack_tag 'shared/tabs' %>
