<div class="navbar fixed-top navbar-expand-sm navbar-light navbar-unify">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <%= link_to root_path, class: "navbar-brand navbar-logo-unify" do %>
      <%= image_tag "https://res.cloudinary.com/isep/image/upload/v1577087960/unify/unify-logo_qvbcvn.png" %>
    <% end %>
    <%= simple_form_for :search, url: root_path, method: "GET", html: { class: 'form-inline' } do |f| %>
      <%= f.input :name,
                  label: false,
                  class: "form-control mr-sm-2",
                  input_html: {value: ""},
                  placeholder: "Rechercher une association ou un événement" %>
      <%= f.submit "Go", class: "btn btn-primary my-2 my-sm-0" %>
    <% end %>
    <div class="navbar-nav">
      <h3>Liens</h3>
      <%= link_to "Calendrier", calendar_path, class: "nav-item  nav-link" %>
      <%= link_to "Associations", clubs_path, class: "nav-item nav-link" %>
      <%= link_to "BDE Genesis", club_bde_path(Club.where(name: "Genesis BDE")), class: "nav-item nav-link" %>
      <div class="d-md-none">
        <h3>Mon compte</h3>
        <% if current_user.profile_picture.nil? || current_user.profile_picture == "" %>
          <%=image_tag "https://res.cloudinary.com/isep/image/upload/v1577132733/unify/download_wqralk.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% else %>
          <%= image_tag current_user.profile_picture, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% end %>
        <%= link_to "Mon profil", user_path(current_user), class: "nav-item  nav-link" %>
        <%= link_to "Mes associations", "#", class: "nav-item  nav-link" %>
        <%= link_to "Mes événements", "#", class: "nav-item  nav-link" %>
        <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "nav-item  nav-link" %>
      </div>
    </div>
  </div>

  <div>
    <ul class="navbar-nav mr-auto mr-3 align-items-center">
      <% if user_signed_in? %>
        <li class="nav-item dropdown mr-3">
         <i class="fas fa-bell notifications-icon"></i>
        </li>
        <li class="nav-item dropdown mr-3 d-none d-md-block">
          <% if current_user.profile_picture.nil? || current_user.profile_picture == "" %>
            <%=image_tag "https://res.cloudinary.com/isep/image/upload/v1577132733/unify/download_wqralk.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <%= image_tag current_user.profile_picture, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Mon profil", user_path(current_user), class: "dropdown-item" %>
            <%= link_to "Mes associations", "#", class: "dropdown-item" %>
            <%= link_to "Mes événements", "#", class: "dropdown-item" %>
            <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
