<div class="container-fluid">

    <div class="row">

        <div class="col-md text-center">
            <div class="btn-group-vertical mt-5">
                <h1 class="">Thèmes</h1>
                <a class="btn btn-light mt-5 mb-4 border">Soirée</a>
                <a class="btn btn-light mt-5 mb-4 border">Afterwork</a>
                <a class="btn btn-light mt-5 mb-4 border">Conférence</a>
            </div>
        </div>


        <div class="col-6">

            <div class="container text-center">

                <h1 class="mt-5">Events</h1>
                <% @events.each do |event| %>

                        <div class="row d-flex justify-content-center mb-5">


                            <div class="card mt-4" style="width: 50rem;">
                                <img class ="mt-4 ml-4" src="<%=event.club.logo%>" style="width: 5rem;" alt="...">
                                <div class="card-body">
                                    <img src="<%= event.image%>" class="card-img-top" style="width:30%; margin-top: -5rem" alt="...">
                                    <h5 class="card-title"><%= event.name %></h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Proposé par <%= event.club.name %></h6>
                                    <p class="card-text"><%= event.short_description%></p>
                                    <a href="#" class="btn btn-primary">S'inscrire</a>
                                </div>
                            </div>
                        
                        </div>

                <% end %>

            </div>
        
        </div>

        <div class="col-md text-center">
            <div class="btn-group-vertical mt-5">
                <h1 class="mb-5">Abonnements</h1>
                <% @clubs.each do |club| %>
                    <a class="btn btn-light mb-4 border"><img class="mr-4" src="<%=club.logo%>" style="width:3rem" alt="..."><%=club.name%></a>
                <% end %>
            </div>
        </div>

    </div>

</div>


