<%- title "Événements" %>

<div class="container-fluid spacer cd-main-content">
  <div class="row" id="main-content">
    <%= render "events/components/themes_checkboxes" %>
    <%= render "events/components/events_feed" %>
    <%= render "events/components/clubs_checkboxes" %>
    <%= render "events/mobile-pages/mobile_index" %>
  </div>
</div>

<%= javascript_pack_tag 'shared/navbar' %>
<%= javascript_pack_tag 'shared/banner' %>
<%= javascript_pack_tag 'events/index' %>