<div class="container-fluid spacer">

  <div class="row">

    <div class="col">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" style="width: 50vw; margin: 0 auto;">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="https://images.unsplash.com/photo-1504384764586-bb4cdc1707b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2700&q=80" alt="Premier slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="https://visualhunt.com/photos/1/people-walking-towards-eiffel-tower-at-night.jpg?s=l" alt="Deuxième slide">
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-3 text-center">
      <div class="btn-group-vertical mt-5">
        <h1 class="">Thèmes</h1>
        <a class="btn btn-light mt-5 mb-4 border">Soirée</a>
        <a class="btn btn-light mt-5 mb-4 border">Afterwork</a>
        <a class="btn btn-light mt-5 mb-4 border">Conférence</a>
      </div>
    </div>

    <div class="col-6">

      <h1 class="mt-5">Events</h1>
      <% @events.each do |event| %>

        <div class="card card-cascade wider mt-4 <%= event.club.name.parameterize.underscore %>">

          <!-- Card image -->
          <div class="view view-cascade overlay">
            <img src="<%= event.image%>" class="card-img-top" alt="...">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!-- Card content -->
          <div class="card-body card-body-cascade text-center">

            <!-- Title -->
            <h4 class="card-title">
              <strong><%= event.name %></strong>
            </h4>
            <!-- Subtitle -->
            <h5 class="blue-text pb-2">
              <strong>Proposé par <%= event.club.name %></strong>
            </h5>
            <!-- Text -->
            <p class="card-text"><%= event.short_description%></p>

            <!-- Button -->
            <a class="btn btn-secondary text-white">S'inscrire</a>

          </div>

          <!-- End Events Card -->
        </div>

      <% end %>

    </div>

    <div class="col-3 text-center">
      <div class="btn-group-vertical mt-5">
        <h1 class="mb-5">Abonnements</h1>
        <% @clubs.each do |club| %>
          <a class="btn btn-light mb-4 border"><img class="mr-4" src="<%=club.logo%>" style="width:3rem" alt="..."><%=club.name%></a>
        <% end %>
      </div>
    </div>

  </div>

</div>

<%= javascript_pack_tag 'shared/search' %>
<%= javascript_pack_tag 'events/index' %>
