<div class="container-fluid spacer cd-main-content">

  <div class="row no-gutters force-full-width">

    <div class="col">
      <div id="carouselExampleControls" class="carousel slide overflow-hidden" data-ride="carousel"
        style="width: 100vw; height: 600px; margin: 0;">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100"
              src="https://images.unsplash.com/photo-1504384764586-bb4cdc1707b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2700&q=80"
              alt="Premier slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100"
              src="https://visualhunt.com/photos/1/people-walking-towards-eiffel-tower-at-night.jpg?s=l"
              alt="Deuxième slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-down" onclick="window.scrollTo({ top: 600, behavior: 'smooth' })">
          <span class="fas fa-chevron-down" aria-hidden="true"></span>
        </a>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-2 align-self-start text-center pb-4 bg-white">
      <div class="sticky-col-left">
        <div class="btn-group-vertical mt-5 controls w-100" data-filter-group>
          <h3>Thèmes</h3>
          <% @themes.each do |theme| %>
          <div class="check-wrap w-100 d-flex mt-3 pl-4">
            <button type="button" data-mixitup-control class="check"
              data-toggle=".<%= theme.title.parameterize.underscore %>">
              <svg width="18px" height="18px" viewbox="0 0 18 18">
                <path
                  d="M1,9 L1,3.5 C1,2 2,1 3.5,1 L14.5,1 C16,1 17,2 17,3.5 L17,14.5 C17,16 16,17 14.5,17 L3.5,17 C2,17 1,16 1,14.5 L1,9 Z">
                </path>
                <polyline points="1 9 7 14 15 4"></polyline>
              </svg>
            </button>
            <span class="ml-4"><%= theme.title.capitalize %></span>
          </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-8 align-self-start mix-container d-flex flex-wrap justify-content-between align-items-start">

      <% @events.each do |event| %>

        <div class="event-container mix <%= event.club.name.parameterize.underscore %> <% event.themes.each do |theme| %><%= theme.title.parameterize.underscore %><% end %>">
    
          <div class="event-header">
            <div class="event-cover" style="background: url(<%= event.image %>);">
              <%= link_to club_path(event.club.id) do %>
                <div class="event-author">
                  <div class="event-author-logo"><%= image_tag event.club.logo %></div>
                  <h3><%= event.club.name %></h3>
                </div>
              <% end %>
            </div>
          </div>

          <div class="event-body">
            <div class="event-title">
              <h1><%= link_to event.name, event_path(event.id) %></h1>
            </div>
            <div class="event-summary">
              <p><%= event.short_description %></p>
            </div>
            <div class="event-tags">
              <ul>
                <% event.themes.each do |theme| %>
                  <li><a href="#"><%= theme.title.capitalize %></a></li>
                <% end %>
              </ul>
            </div>
          </div>
          
          <div class="event-footer">
            <ul>
              <li class="event-date"><%= event.date %></li>
              <li class="comments">
                <i class="fas fa-euro-sign icon-euro"></i>
                <span class="numero">
                  <% if event.price.nil? || event.price == 0 %>
                    <span>Gratuit</span>
                  <% else %>
                    <span><%= event.price %></span>
                  <% end %>
                </span>
              </li>
              <li class="participants">
                <i class="fas fa-user-check icon-user"></i>
                <span class="numero">12</span>
              </li>
            </ul>
          </div>

        </div>

      <% end %>

    </div>

    <div class="col-2 align-self-start text-center pb-4 bg-white">
      <div class="sticky-col-right">
        <div class="btn-group-vertical mt-5 controls w-100" data-filter-group>
          <h3>Associations</h3>
          <% @clubs.each do |club| %>
          <div class="check-wrap w-100 d-flex mt-3 pl-4">
            <button type="button" data-mixitup-control class="check"
              data-toggle=".<%=club.name.parameterize.underscore%>">
              <svg width="18px" height="18px" viewbox="0 0 18 18">
                <path
                  d="M1,9 L1,3.5 C1,2 2,1 3.5,1 L14.5,1 C16,1 17,2 17,3.5 L17,14.5 C17,16 16,17 14.5,17 L3.5,17 C2,17 1,16 1,14.5 L1,9 Z">
                </path>
                <polyline points="1 9 7 14 15 4"></polyline>
              </svg>
            </button>
            <span class="ml-4"><%=club.name%></span>
          </div>
          <% end %>
        </div>
      </div>
    </div>

  </div>

</div>

<%= javascript_pack_tag 'shared/navbar' %>
<%= javascript_pack_tag 'events/index' %>