<div class="container-fluid spacer">
    <div class="row no-gutters">
        <div class="col">
            <div class="hero" style="background-image: url(<%= @event.image %>);"></div>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-12 col-md-8 offset-md-1 event-left">
            <h1><%= @event.name %></h1>
            <%= link_to @event.club, class:"club-desc d-flex flex-row align-items-center py-2" do %>
                <%= image_tag @event.club.logo %>
                <h4 class="ml-2 mb-0"><%= @event.club.name %></h4>
            <% end %>
            <div class="event-tags py-2">
                <div class="line-tags mr-2"></div>
                <ul>
                    <% @event.themes.each do |theme| %>
                    <li><a href="#"><%= theme.title.capitalize %></a></li>
                    <% end %>
                </ul>
            </div>
            <p><%= @event.long_description %></p>
        </div>
        <div class="col-12 col-md-3 col-lg-2 event-right">
            <button class="subscribe-button z-depth-1">
                <span class="button-text">S'inscrire</span>
            </button>
            <div class="white-wrapper mt-3">
                <h3>Date</h3>
                <h4><%= @event.date %></h4>
            </div>
            <div class="white-wrapper mt-3">
                <h3>Prix</h3>
                <h4>
                    <% if @event.price.nil? || @event.price == 0 %>
                        <span>Gratuit</span>
                    <% else %>
                        <span><%= @event.price %> €</span>
                    <% end %>
                </h4>
            </div>
            <div class="white-wrapper mt-3">
                <h3>Adresse</h3>
                <h4><%= @event.location %></h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div id="map" class="event-map" " data-markers="<%= @marker.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
        </div>
    </div>
</div>

<%= javascript_pack_tag 'shared/navbar' %>
<%= javascript_pack_tag 'events/show' %>