<script src="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css" rel="stylesheet" />

<div class="container-fluid spacer">
    <div class="row event-show-header">
        <div class="col-4 col-lg-2">
            <div class="event-banner">
                <%= image_tag @event.image %>
            </div>
        </div>
        <div class="col-8 col-lg-10">
            <div class="row">
                <div class="col-12 pb-3 event-title d-flex flex-column justify-content-between align-items-end">
                    <h1><%= @event.name %></h1>
                    <%= link_to "#", class:"button-effect-2" do %>
                        <button>
                            <span class="button-text">S'inscrire</span>
                        </button>
                    <% end %>
                </div>
            </div>
            <div class="row pt-3 event-show-info d-none d-lg-block">
                <div class="col-12 d-flex flex-wrap justify-content-end text-right flex-lg-row-reverse justify-content-lg-start">
                    <div class="mt-3 mr-3 ml-lg-3">
                        <h3>Date</h3>
                        <h4><%= @event.date %></h4>
                    </div>
                    <div class="mt-3 mr-3 ml-lg-3">
                        <h3>Prix</h3>
                        <h4>
                            <% if @event.price.nil? || @event.price == 0 %>
                                <span>Gratuit</span>
                            <% else %>
                                <span><%= @event.price %> €</span>
                            <% end %>
                        </h4>
                    </div>
                    <div class="mt-3 mr-3 ml-lg-3">
                        <h3>Participants</h3>
                        <h4>12</h4>
                    </div>
                    <div class="mt-3 ml-lg-3">
                        <h3>Adresse</h3>
                        <h4><%= @event.location %></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-3 event-show-info d-lg-none">
        <div class="col-12 d-flex flex-wrap">
            <div class="mt-3 mr-3">
                <h3>Date</h3>
                <h4><%= @event.date %></h4>
            </div>
            <div class="mt-3 mr-3">
                <h3>Prix</h3>
                <h4>
                    <% if @event.price.nil? || @event.price == 0 %>
                        <span>Gratuit</span>
                    <% else %>
                        <span><%= @event.price %> €</span>
                    <% end %>
                </h4>
            </div>
            <div class="mt-3 mr-3">
                <h3>Participants</h3>
                <h4>12</h4>
            </div>
            <div class="mt-3">
                <h3>Adresse</h3>
                <h4><%= @event.location %></h4>
            </div>
        </div>
    </div>
    <div class="row pt-3 event-show-body">
        <div class="col-12">
            <%= link_to @event.club, class:"club-desc d-flex flex-row align-items-center py-2" do %>
                <%= image_tag @event.club.logo %>
                <h3><%= @event.club.name %></h3>
            <% end %>
            <div class="event-tags py-2">
                <div class="line-tags mr-2"></div>
                <ul>
                    <% @event.themes.each do |theme| %>
                    <li><a href="#"><%= theme.title.capitalize %></a></li>
                    <% end %>
                </ul>
            </div>
            <p><%= @event.long_description %></p>
        </div>
    </div>
    <% if !@marker.nil? %>
        <div class="row mt-3">
            <div class="col">
                <div id="map-container" class="map-wrapper"
                        data-markers="<%= @marker.to_json %>"
                        event-location="<%= @event.location %>"
                        event-name="<%= @event.name %>"
                        marker-img="<%= @event.club.logo %>" 
                        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY']%>">
                            <div id="map"></div>
                </div>
            </div>
        </div>
    <% end %>
</div>

<%= javascript_pack_tag 'shared/navbar' %>
<%= javascript_pack_tag 'events/show' %>
<%= javascript_pack_tag 'events/map-show' %>