<%- title "#{@event.name}" %>

<script src="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css" rel="stylesheet" />

<div class="container-fluid spacer">
  <div class="row flex-lg-row flex-column-reverse">
    <div class="col-12 col-lg-3 mt-lg-5">
        <div class="sticky-left-group text-center">
            <div class="d-flex justify-content-center mb-4">
                <% if @event.club.logo.nil? || @event.club.logo == "" %>
                <img src="https://res.cloudinary.com/isep/image/upload/v1577132733/unify/download_wqralk.png" class="club-logo big" >
                <% else %>
                <img class="club-logo big" src=<%= @event.club.logo %> >
                <% end %>
            </div>
            <div class="text-center pb-3">
                <p>Événement proposé par</p>
                <h4><%= @event.club.name %></h4>
                <ul class="table-style mt-3">
                    <li><span>Date : </span><%= @event.date %></li>
                    <li><span>Adresse : </span><%= @event.location %></li>
                    <% if @event.price.nil? || @event.price == 0 %>
                        <li><span>Prix : </span>Gratuit</li>
                    <% else %>
                        <li><span>Prix : </span><%= @event.price %> €</li>
                    <% end %>
                    <li>
                        <div data-toggle="modal" data-target="#event-users-modal">
                            <span >Participants : </span><%= @users.size %>
                        </div> 
                    </li>

                    <div class="modal fade" id="event-users-modal" tabindex="1" role="dialog" aria-labelledby="event-users-modal-label" aria-hidden="true">
                        <div class="modal-body">
                            <h1 class="mt-5">Participants</h1>
                            <% @users.each do |user| %>
                                <p><%= user.first_name %></p>
                                <p><%= user.last_name %></p>
                            <% end %>
                        </div>
                    </div>

                </ul>
            </div>
            <% if policy(@event).edit? %>
                <%= link_to edit_event_path(@event), class:"button-effect-2" do %>
                    <button>Modifier</button>
                <% end %>
            <% end %>
        </div>
    </div>
    <div class="col col-lg-9 right-group">
        <div class="row justify-content-center p-2">
            <div class="col">
                <div class="banner mt-3">
                    <img src="<%= @event.image %>"/>
                </div>
            </div>
        </div>
        <div class="row p-2">
            <div class="col-12 col-md-9 col-lg-10">
                <h1><%= @event.name %></h1>
            </div>
            <div class="col-12 col-md-3 col-lg-2 text-md-right">
                <%= link_to event_register_to_event_path(@event), method: :post, remote: true, :action => "register_to_event", class:"button-effect-2" do %>
                    <% if current_user.events.include? @event %>
                        <button id="register-event-btn"><span class="button-text">Se désinscrire</span></button>
                    <% else %>
                        <button id="register-event-btn"><span class="button-text">S'inscrire</span></button>
                    <% end %>
                <% end %>       
            </div>
        </div>
        <div class="row p-2">
            <div class="col-12">
                <div class="event-tags tags-white py-2">
                    <div class="line-tags mr-2"></div>
                    <ul>
                        <% unless @event.themes.nil? or @event.themes.empty? %>
                            <% @event.themes.each do |theme| %>
                            <li><%= theme.title.capitalize %></li>
                            <% end %>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row p-2">
            <div class="col-12">
                <%= @event.long_description %>
            </div>
        </div>
    <% if !@marker.nil? %>
        <div class="row mt-3">
            <div class="col">
                <div id="map-container" class="map-wrapper" data-markers="<%= @marker.to_json %>" event-location="<%= @event.location %>" event-name="<%= @event.name %>" marker-img="<%= @event.club.logo %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY']%>"><div id="map"></div>
                </div>
            </div>
        </div>
    <% end %>
    <% if policy(@event).destroy? %>
      <div class="row mt-3">
        <div class="col">
          <div class="row justify-content-center m-5">
                <%= link_to event_path(@event), method: :delete, data: { confirm: 'Etes vous sûr de vouloir supprimer cette événement ?' }, class:"button-effect-2" do %>
                    <button>Supprimer l'événement</button>
                <% end %>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'shared/navbar' %>
<%= javascript_pack_tag 'events/show' %>
<%= javascript_pack_tag 'events/map-show' %>