<%- title "#{@event.name}" %>

<script src="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css" rel="stylesheet" />

<div class="container-fluid spacer">
  <div class="row flex-lg-row flex-column-reverse">
    <div class="col-12 col-lg-3 mt-lg-5">
        <%= render "events/components/event_show_left" %>
    </div>
    <div class="col col-lg-9 right-group">
        <div class="row justify-content-center p-2">
            <div class="col">
                <div class="banner mt-3">
                    <img src="<%= @event.image %>"/>
                </div>
            </div>
        </div>
        <div class="row p-2">
            <div class="col-12 col-md-9">
                <h1><%= @event.name %></h1>
            </div>
            <div class="col-12 col-md-3 text-md-right">
                <%= link_to event_register_to_event_path(@event), method: :post, remote: true, :action => "register_to_event" do %>
                    <% if current_user.events.include? @event %>
                        <button id="register-event-btn" class="button-effect-1" data-content="Se désinscrire">Se désinscrire</button>
                    <% else %>
                        <button id="register-event-btn" class="button-effect-1" data-content="S'inscrire">S'inscrire</button>
                    <% end %>
                <% end %>       
            </div>
        </div>
        <div class="row p-2">
            <div class="col-12">
                <div class="event-tags tags-white py-2">
                    <div class="line-tags mr-2"></div>
                    <ul>
                        <% unless @event.themes.nil? or @event.themes.empty? %>
                            <% @event.themes.each do |theme| %>
                            <li><%= theme.title.capitalize %></li>
                            <% end %>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row p-2">
            <div class="col-12 text-justify">
                <%= @event.long_description %>
            </div>
        </div>
        <% if !@event.users.nil? and @event.users != [] %>
          <div class="row p-2">
              <div class="col-12">
                  <h4>Participants</h4>
                  <div class="list-of-users">
                    <% @event.users.each do |user| %>
                      <%= link_to user_path(user) do %>
                        <div class="white-wrapper">
                          <img src="<%= user.profile_picture %>" />
                          <p><%= user.first_name %><br/><%= user.last_name %></p>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
              </div>
          </div>
        <% end %>
    <% if !@marker.nil? %>
        <div class="row mt-3">
            <div class="col">
                <div id="map-container" class="map-wrapper" data-markers="<%= @marker.to_json %>" event-location="<%= @event.location %>" event-name="<%= @event.name %>" marker-img="<%= @event.club.logo %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY']%>"><div id="map"></div>
                </div>
            </div>
        </div>
    <% end %>
    <% if policy(@event).destroy? %>
      <div class="row mt-3">
        <div class="col">
          <div class="row justify-content-center m-5">
                <%= link_to event_path(@event), method: :delete, data: { confirm: 'Etes vous sûr de vouloir supprimer cette événement ?' }, class:"button-effect-2" do %>
                    <button>Supprimer l'événement</button>
                <% end %>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'shared/navbar' %>
<%= javascript_pack_tag 'events/show' %>
<%= javascript_pack_tag 'events/map-show' %>