<div class="mb-5">
  <h2 class="unify-title">Unify</h2>
  <h2 class="mt-5 mb-3 text-center">Mot de passe oublié ?</h2>

  <div class="login-container">
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Envoyer les instructions" %>
        </div>
    <% end %>
  </div>

  <div class="text-center mt-3">
    <%= render "devise/shared/links" %>
  </div>

  <div class="logo-container">
    <%= image_tag "https://is1-ssl.mzstatic.com/image/thumb/Purple113/v4/de/ec/a9/deeca9b9-37c4-7bda-dd22-76b8906089ce/source/512x512bb.jpg", class:"logo-genesis" %>
    <%= image_tag "https://isepalumni.fr/wp-content/uploads/2016/12/logoISEP.png", class:"logo-isep" %>
  </div>
</div>



