<div class="sticky-left-group">
  <div class="profile-picture d-flex justify-content-center mb-4">
    <% if @contest.club.logo.nil? || @contest.club.logo == "" %>
      <img src="https://res.cloudinary.com/isep/image/upload/v1577132733/unify/download_wqralk.png" class="club-logo big" >
    <% else %>
        <img class="club-logo big" src=<%= @contest.club.logo %> >
    <% end %>
  </div>
  <div class="infos text-center pb-3">
    <h2><%= @contest.club.name %></h2>
    <ul class="table-style mt-3">
      <li><span>Prix : </span><%= @contest.reward %></li>
      <li><span>Date limite : </span><%= @contest.deadline %></li>
      <li><span>Participants : </span><%= @contest.users.size %></li>
    </ul>
  </div>
</div>