<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" type="image/png" href="https://res.cloudinary.com/isep/image/upload/v1583080472/unify/unify-logo-test_extqor.png">
    <title>unifyisep</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all'%>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navbar' unless @disable_navbar %>
    
    <%= render 'shared/flashes' %>

    <%= yield %>

    <%= render 'shared/footer' unless @disable_footer %>
  </body>
</html>
