<%- title "S'inscrire" %>

<div class="container-fluid h-100">

  <%= render "users/shared/background" %>

  <div class="row align-content-stretch justify-content-center align-items-center h-100 overflow-hidden">
    <div class="col-12">
      <div class="login-container">
        <h2 class="unify-title">Unify</h2>
        <div class="pill-tabs">
          <span class="tab"><%= render "users/shared/links" %></span>
          <span class="tab active">Créer un compte</span>
        </div>
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <div class="form-inputs d-flex flex-column">
              <div class="d-flex align-items-center justify-content-between">
                  <p class="mr-3">Prénom</p>            
                  <%= f.input :first_name,
                    required: true,
                    placeholder: "Dieudioné",
                    label: false,
                    :input_html => {:style => 'width: 200px'} %>
              </div>
              <div class="d-flex align-items-center justify-content-between">
                  <p class="mr-3">Nom</p>
                  <%= f.input :last_name,
                    required: true,
                    placeholder: "Aboud",
                    label: false,
                    :input_html => {:style => 'width: 200px'} %>
              </div>
              <div class="d-flex align-items-center justify-content-between">
                <p class="mr-3">Email</p>
                <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" },
                      placeholder: "dieudione.aboud@isep.fr",
                      label: false,
                      :input_html => {:style => 'width: 220px'} %>
              </div>
              <div class="d-flex align-items-center justify-content-between">
                  <p class="mr-3">Mot de passe</p>
                  <%= f.input :password,
                      required: true,
                      input_html: { autocomplete: "new-password" },
                      placeholder: "1234",
                      label: false,
                      :input_html => {:style => 'width: 150px'} %>
              </div>
              <div class="d-flex align-items-center justify-content-between">
                <p class="mr-3">Promotion</p>
                <%= f.input :promotion,
                  label: false,
                  required: false,
                  :collection => %w[2020 2021 2022 2023 2024],
                  :input_html => {:style => 'width: 130px'} %>
              </div>
              <div class="d-flex align-items-center justify-content-between">
                  <p class="mr-3">Section</p>
                  <%= f.input :section,
                    label: false,
                    required: false,
                    :collection => %w[P1 P2 I1 I2 A1 A2 A3],
                    :input_html => {:style => 'width: 130px'} %>
              </div>
              <div class="d-flex align-items-center justify-content-between">
                  <p class="mr-3">Famille étudiante</p>
                  <%= f.association :family,
                    label: false,
                    :input_html => {:style => 'width: 130px'} %>
              </div>
            </div>
            <p class="warning">Il est nécessaire de vous inscrire avec<br/>votre <span style="color:#F5A300">adresse ISEP</span></p>
            <div class="form-actions"><%= f.button :submit, "S'inscrire" %></div>
          <% end %>
        </div>
    </div>
  </div>

  <%= render "users/shared/logos" %>

</div>

<%= javascript_pack_tag 'users/users' %>